<!-- load csv data -->
<script type="text/javascript">
  <% csv_data('Affinity_matchings_table').map.with_index do |x, i| %>
    app.affinity['<%= x[0] %>'] = {}
    <% x[1].each do |key, value| %>
      app.affinity['<%= x[0] %>']['<%= key %>'] = '<%= value %>'
    <% end %>
  <% end %>
</script>


<!-- map -->
<div class="worldmap" column center-center>
  <div id="map_container" class="map_container"></div>
</div>

 
<!-- tool left -->
<div class="tools left" column between-start>
  
  <!-- main info -->
  <div class="info_current_sign" column between-start>
    <div>    
      <div id="currentsign" class="currentsign"></div>
      <div id="currentsign_svg" class="currentsign_svg"></div>
      <div class="time_range" id="time_range">
        <%= csv_data('star_signs_info_update')[:date]['virgo']%>
      </div>
      <div class="keywords strong">
        <div class="label">Strength Keywords</div>
        <div class="list" column start-start>
          <%= csv_data('star_signs_info_update')[:strength]['virgo'] %>
        </div>
      </div>
      <div class="keywords weak">
        <div class="label">Weakness Keywords</div>
        <div class="list" column start-start>
          <%= csv_data('star_signs_info_update')[:weakness]['virgo'] %>
        </div>
      </div>
    </div>
    <div class="info_button" id="info_button" wide row center-center>
      <div class="ibutton">INFO</div>
    </div>
  </div>
  
  <!-- infobox -->
  <div class="content_info_box"><svg id="info_box"></svg></div>

  <!-- other signs -->
  <div class="othersigns" row center-center wrap>
    <% data.signs.sign.each do |s| %>
      <a href='<%= "/#{I18n.locale}/worldmap?sign=#{s}" %>'>
        <div class="othersigns_item <%= s %>">
          <%= load_svg(s) %>
        </div>        
      </a>
    <% end %>
  </div>
</div>


<!-- tool right -->
<div class="tools right" column between-start>
  
  <!-- info position general -->
  <div class="info_position_general" column start-start>
    <div class="info_right info_ip" id="info_ip" row between-center wide>
      <div class="label">ip</div>
      <div class="value" id="info_ip">127.0.0.1</div>
    </div>
    <div class="info_right info_location" row between-center wide>
      <div class="label">location</div>
      <div class="value" id="info_location">Lugano.Switzerland</div>
    </div>
    <div class="info_right info_latitude" row between-center wide>
      <div class="label">latitude</div>
      <div class="value" id="info_latitude">0</div>
    </div>
    <div class="info_right info_longitude"row between-center wide>
      <div class="label">longitude</div>
      <div class="value" id="info_longitude">0</div>
    </div>
    <div class="info_right info_date" row between-center wide>
      <div class="label">date</div>
      <div class="value" id="info_date">-</div>
    </div>
    <div class="info_right info_temp" row between-center wide>
      <div class="label">temp</div>
      <div class="value" id="info_temp"></div>
    </div>
    <div class="info_right info_weather" row between-center wide>
      <div class="label">weather</div>
      <div class="value" id="info_weather"></div>
    </div>
    <div class="info_right info_wind" row between-center wide>
      <div class="label">wind</div>
      <div class="value" id="info_wind"></div>
    </div>
  </div>

  <!-- info country list -->
  <div class="info_country_list" column start-start>
    <div class="title">COUNTRIES</div>
    <div class="list">
      <div>1-india</div>
      <div>1-india</div>
      <div>1-india</div>
      <div>1-india</div>
      <div>1-india</div>
    </div>
  </div>

  <!-- info view button -->
  <div class="info_view_button" wide row between-center>
    <% data.signs.icon.each do |s| %>
      <div class="button_right_info">
      <%= image_tag "#{s}.svg" , :id => s %>
      </div>
    <% end %>
  </div>
</div>

<!-- modal passport -->
<div class="container_passport">
  <%= partial "passport" %>
</div>

<div class="bg_modal" id="bg_modal"></div>

<!-- footer -->
<%= partial "footer" %>
