<!-- load csv data -->
<script type="text/javascript">
  <% csv_data('Affinity_matchings_table').map.with_index do |x, i| %>
    app.affinity['<%= x[0] %>'] = {}
    <% x[1].each do |key, value| %>
      app.affinity['<%= x[0] %>']['<%= key %>'] = '<%= value %>'
    <% end %>
  <% end %>
</script>


<!-- map -->
<div class="worldmap" column center-center>
  <div id="map_container" class="map_container"></div>
</div>

 
<!-- tool left -->
<div class="tools left" column between-start>
  
  <!-- main info -->
  <div class="info_current_sign" column between-start>
    <div>    
      <div id="currentsign" class="currentsign"></div>
      <div id="currentsign_svg" class="currentsign_svg"></div>
      <div class="time_range" id="time_range">time range</div>
      <div class="keywords strong">
        <div class="label">Strength Keywords</div>
        <div class="list" column start-start>lista</div>
      </div>
      <div class="keywords weak">
        <div class="label">Weakness Keywords</div>
        <div class="list" column start-start>lista</div>
      </div>
    </div>
    <div class="info_button" id="info_button">INFO</div>
  </div>
  
  <!-- infobox -->
  <div class="content_info_box"><svg id="info_box"></svg></div>

  <!-- other signs -->
  <div class="othersigns" row center-center wrap>
    <% data.signs.sign.each do |s| %>
      <div class="othersigns_item <%= s %>">
        <%= load_svg(s) %>
      </div>
    <% end %>
  </div>
</div>


<!-- tool right -->
<div class="tools right">
</div>


<!-- footer -->
<%= partial "footer" %>
